/*
    Offres catégories
*/

.s-offres {
  padding: 0 14%;
}

.offres-ist {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
}

.offre-box.btn {
  max-height: 140px;
  padding: 0;
  text-align: left;

  a {
    color: $text-beta;
  }

  .offre-img {
    aspect-ratio: 1/1;
    background-size: cover;
    border-radius: 5px;
    float: left;
    height: 88%;
  }

  .offre-desc {
    float: left;
    padding: 1rem 5%;
  }
}

@media only screen and (max-width: 1090px) {
  .s-offres {
    height: auto;
    padding: 0 5%;
  }

  .offres-ist {
    grid-template-columns: repeat(5, 270px);
    grid-template-rows: repeat(3, 100px);
    overflow-x: scroll;
    overflow-y: hidden;
    width: 100%;
  }
}
