/*
    Banner
*/

.banner-bg {
  border-radius: 10px;
  margin: auto;
  padding: 5% 4%;
  width: 70%;
}

.banner-btn {
  margin: auto;
  max-width: none !important;
  padding-top: 16px;
}

.container-communaute {
  .row {
    width: 100%;
  }
}

.s-title-banner {
  padding: 10vw;
  p {
    font-size: 3rem;
  }
}

.aide-title {
  font-size: 4rem;
}

@media only screen and (max-width: 890px) {
  .banner-bg {
    background-size: auto;
    padding: 50% 0 0 0;
    width: 90%;

    .container {
      max-width: 100%;

      .row > .jumbotron {
        border-radius: 0px;

        .row > .s-title * {
          font-size: 6vw;
          padding-bottom: 0;
          padding-top: 0;
        }
      }
    }
  }

  #banner-communaute {
    padding: 50% 0 0 0;

    .s-parallax-bg {
      background-position: 90%;
    }
  }

  .container-communaute {
    max-width: 100%;
    padding: 0;

    .row {
      margin-left: 0;
      margin-right: 0;
    }
  }

  #banner-aide {
    padding: 50% 0 0 0 !important;

    .container {
      max-width: 100% !important;

      .row {
        background-color: $primary-color;
        padding: 30px 15px;

        .s-btn {
          display: flex;
          flex-wrap: wrap;
          gap: 20px;
        }
      }
    }
  }

  .aide-title {
    font-size: 6vh;
  }

  .aide-btn {
    background-color: $bg-alpha !important;
    border-color: $bg-alpha !important;
  }

  #aide-btn-txt {
    color: $primary-color !important;
  }

  .s-title-banner p {
    font-size: 4vh;
  }
}
