/*
    navbar 
*/

.navbar .nav {
  width: 100%;

  .nav-item {
    padding-right: 20px;
  }

  // TODO conflict with other nav
  :nth-child(7) {
    margin-left: auto;
  }

  :nth-child(12) {
    padding-left: 20px;
  }
}

header .nav-link {
  padding-right: 10px !important;
}

.navbar-toggler {
  border: 0px !important;
  margin-right: auto !important;
}

.collapse.navbar-collapse {
  height: var(--nav-height);

  #top_menu {
    height: 100%;

    .nav-item {
      padding-top: 20px;
    }
    /*
      *{
        color: #F26506 !important;
      }
      */
  }
}

.nav-item.account,
.dropdown.account {
  display: flex;
  max-height: var(--nav-height);
  padding: 20px 20px 0;
  width: auto;
  color: $text-gamma !important;

  .nav_pic {
    height: 45px;
    aspect-ratio: 1;
  }

  .nav-link {
    padding: 0 0.5rem;

    .hours {
      text-align: left;
    }
  }

  .dropdown-toggle {
    background-color: $secondary-color !important;
  }

  .dropdown-toggle::after {
    display: none;
  }
}

@media only screen and (max-width: 767px) {
  .collapse.navbar-collapse {
    height: auto;
  }
}
