/*
    Page Communauté/Membres
*/

.s-event-list.small-cards {
  height: auto;
  padding: 0 10%;

  .horizontal-list {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));

    .list-item {
      height: 350px;
      width: auto;
    }
  }
}

.item-img > icon {
  float: right;
  font-size: 20px;
}

.item-img .name {
  bottom: 30px;
  font-size: 20px;
  position: absolute;
}

.item-img .infos {
  bottom: 10px;
  position: absolute;
}

.item-desc.centered {
  height: 40% !important;
  padding: 10% !important;
  text-align: center;
}

.item-foot {
  height: 20%;
  padding: 8%;
  position: relative;
  text-align: center;
}

.tag {
  background-color: #fff4f0;
  border-radius: 5px;
  color: $primary-color;
  padding: 0.25rem 0.9rem;
  width: fit-content;
}

.item-foot:after {
  content: "";
  border-top: 1px solid $beta;
  left: 5%;
  position: absolute;
  top: 0px;
  width: 90%;
}

.s-map-btn .btn-map {
  float: right;
  font-size: 1.2rem;
  margin-right: 10%;
}

//clearfix
.s-map-btn::after {
  content: "";
  clear: both;
  display: table;
}

@media only screen and (max-width: 990px) {
  .s-event-list.small-cards {
    padding: 0 5%;
  }
}
