/*
    Page Évènement/Offre
*/

.s_event_banner {
  height: 35vh;
  padding: 5% 10% 0;
  position: relative;
}

.event_banner_action {
  border-radius: 5px 5px 0 0;
  bottom: 0;
  display: flex;
  position: absolute;
  right: 10%;

  .btn {
    color: $text-alpha;
    padding: 1rem 2rem;
  }

  .divider {
    background-color: $text-alpha;
    height: 2rem;
    margin: auto;
    width: 1px;
  }
}

.event_container {
  display: flex;
  flex-direction: row;
}

.icon_padding_right {
  padding-right: 10px;
}

.event_head {
  padding: 5% 10% 0 10%;
  width: 100%;

  .info-1 {
    .infos {
      display: flex;
      flex-direction: row;

      > * {
        font-size: 1rem;
        margin-top: 1%;
      }

      > div:not(:first-child) {
        border-left: 1px solid $beta;
        padding: 0.5% 2%;
      }

      .distance {
        padding: 0.5% 2% 0 0;
      }

      .event_date h3 {
        font-weight: normal;
      }
    }

    .btn_container {
      float: right;
      margin-top: -3rem;
      width: 50%;

      .btn {
        color: $text-alpha;
        float: right;
        margin-left: 5%;
        padding: 1rem 2rem;
      }
    }
  }
}

.checker {
  border-radius: 5px;
  border: 1px solid $beta;
  margin: 0.5rem 1rem 0 0;
  padding: 0.5rem;
}

.rounded-dashed {
  border-radius: 50%;
  border: 2px dashed $beta;
  margin-right: 1rem;
  padding: 0.5rem;
}

.dashed {
  border: 1px dashed gray !important;
}

.event_container .informations_container {
  display: flex;
  flex-direction: column;
  float: left;
  gap: 50px;
  height: auto;
  padding-right: 15%;
  width: 65%;

  > div:not(:first-child) {
    padding-right: 25%;
  }

  .info-2 {
    display: flex;
    flex-direction: column;

    h2 {
      margin-bottom: 1.5rem;
    }

    > * {
      border-top: 1px solid $beta;
      padding: 5% 5% 5% 0;
    }

    .resume .desc {
      font-size: 1.2rem;

      i {
        width: 1.8rem;
      }
    }

    .contact-list {
      display: flex;
      flex-direction: column;
      padding-right: 0;

      .search_box {
        align-items: center;
        border-radius: 7px;
        border: 1px solid lightgray;
        display: flex;
        height: 50px;
        margin: 5% 0;
        width: 50%;

        i {
          margin-left: 5%;
        }

        input {
          border: none;
          height: 100%;
          margin: auto;
          outline: none;
          width: 85%;
        }
      }

      .contact {
        align-items: center;
        border-bottom: 1px solid $beta;
        display: flex;
        flex-direction: row;
        gap: 40px;
        height: 100px;

        .user_pic {
          aspect-ratio: 1/1;
          background-size: cover;
          height: 70%;
        }

        .btn {
          color: $text-alpha;
          font-size: 1rem;
          margin-left: auto;
          padding: 0.75rem 5%;
        }
      }

      :last-child {
        border: none;
      }
    }
  }
}

.dispo .dates_container {
  display: flex;
  flex-wrap: wrap;
  font-size: 1rem;
  width: 100%;

  :nth-child(odd) {
    width: 25%;
  }

  :nth-child(even) {
    width: 75%;
  }
}

.right_cards_container {
  display: flex;
  flex-direction: column;
  float: right;
  gap: 50px;
  margin: 0 10% 0 0;
  width: 25%;

  .info-3 {
    background-color: $delta;
    border-radius: 7px;
    height: auto;
    padding: 2rem;

    img {
      border-radius: 7px 7px 0 0;
      height: 300px;
    }

    div {
      font-size: 1rem;
      padding-bottom: 0.5rem;
      width: 100%;
    }
  }

  .card {
    border: 1px solid $beta;
  }
}

.info-4 {
  background-color: $delta;
  border-radius: 7px;
  height: auto;
  padding: 8%;
}

.card-votre-relation {
  .img {
    aspect-ratio: 1/1;
    background-size: cover;
    margin: 0 auto 5% auto;
    width: 25%;
  }

  h4 {
    text-align: center;
  }

  .stats {
    margin-top: 10%;

    p {
      font-size: 1rem;

      i {
        color: $alpha;
        width: 2rem;
      }
    }
  }

  .summary {
    margin-top: 10%;
  }

  .buttons {
    margin-top: 10%;

    .btn {
      color: $text-alpha;
      margin: 0 auto 0 auto;
    }
  }
}

@media only screen and (max-width: 990px) {
  .s_event_banner {
    height: 25vh !important;
  }

  //.event_banner_action {
  //  display: none;
  //}

  .event_info .btn_container {
    float: none !important;
    margin-top: auto !important;
    width: auto !important;

    .btn {
      float: none !important;
      margin-left: 0 !important;
      margin-right: 4% !important;
      padding: 0.5rem 1rem !important;
    }
  }

  .event_info .infos {
    flex-direction: column !important;

    > * {
      border-left: none !important;
      border-top: 1px solid $beta !important;
      padding: 1rem 0 !important;
    }
  }

  .event_container {
    flex-direction: column;

    .informations_container {
      width: 100%;

      .info-2 .contact-list .search_box {
        width: 100%;
      }
    }

    .right_cards_container {
      width: 100%;

      //.info-3 {
      //  display: none;
      //}

      .info-4 {
        background-color: $bg-alpha;
        border-radius: 0;
      }
    }
  }

  .dispo .dates_container {
    :nth-child(odd) {
      width: 50%;
    }

    :nth-child(even) {
      width: 50%;
      text-align: center;
    }
  }
}

@media only screen and (max-width: 400px) {
  .s_event_banner {
    height: 20vh !important;
  }
}
