/*
    Page mon profil
*/

.banner_profile {
  align-items: center;
  color: $text-gamma;
  display: flex;
  gap: 2rem;

  .solde_container {
    border-left: 2px solid $text-gamma;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    padding-left: 4rem;

    .txt {
      font-size: 1.3rem;
      line-height: 1.3rem;
      margin-bottom: 0.5rem;
    }

    .solde {
      font-size: 3rem;
      line-height: 3rem;
    }
  }

  .profile_infos {
    align-items: center;
    display: flex;
    width: 50%;
  }
}

.white_box {
  background-color: white;
}

.s_informations {
  margin-bottom: 100px;
  margin-top: 100px;
}

.profile_pic {
  aspect-ratio: 1/1;
  background-size: cover;
  height: 150px;
  position: relative;

  i {
    bottom: 0px;
    color: $text-gamma;
    font-size: 2rem;
    position: absolute;
    right: 0px;
  }
}

.profile_banner_info {
  display: flex;
  flex-direction: column;
  margin-left: 10%;

  .profile_name {
    color: $text-gamma;
    font-size: 3rem;
  }

  .profile_hrs {
    color: $text-gamma;
    font-size: 2rem;
  }
}

.profile_btn.btn {
  border: 1px solid $beta;
  color: $text-gamma;
  font-size: 1.5rem;
  padding: 1rem;
  white-space: normal;
}

.profile_btn.accorderie {
  margin-left: auto;
}

.informations_container {
  display: grid;
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  padding: 0 10%;

  .information {
    border-radius: 7px;
    border: 1px solid $beta;
    max-height: 300px;
    overflow: hidden;
    padding: 2.5rem;
    text-align: left;
    text-decoration: none;
    white-space: normal;

    img {
      height: 15%;
    }

    .nbr {
      color: $text-gamma;
      font-size: 1.5rem;
    }

    .txt {
      color: gray;
      font-size: 1.2rem;
      max-width: 100%;
      word-wrap: break-word;
    }
  }

  .information-1 {
    grid-area: 1 / 1 / 2 / 2;
  }

  .information-2 {
    grid-area: 1 / 2 / 2 / 3;
  }

  .information-3 {
    grid-area: 1 / 3 / 2 / 4;
  }

  .information-4 {
    grid-area: 2 / 1 / 3 / 2;
  }

  .information-5 {
    grid-area: 2 / 2 / 3 / 3;
  }

  .information-6 {
    grid-area: 2 / 3 / 3 / 4;
  }

  .logout {
    background-color: black;
    border: none;
    display: none;
    text-align: center;

    > * {
      color: $text-gamma !important;
    }
  }
}

@media only screen and (max-width: 990px) {
  .banner_profile {
    align-items: unset;
    flex-direction: column;

    .profile_infos {
      width: 100%;
    }

    .solde_container {
      display: none;
      color: $text-gamma !important;
    }
  }

  .profile_pic {
    height: 12vh;
  }

  .informations_container {
    display: flex;
    flex-direction: column;

    .information {
      padding: 5%;

      img,
      br {
        display: none;
      }

      .nbr {
        font-size: clamp(20px, 1.5vw, 1.5vw) !important;
      }

      .txt {
        display: none;
      }
    }
    .logout {
      display: block;
    }
  }

  .profile_banner_info {
    .profile_name {
      font-size: 4vh;
    }

    .profile_hrs {
      font-size: 3.5vh;
    }
  }

  .profile_btn.disconnect {
    display: none;
    padding: 0;
  }

  .profile_btn.accorderie {
    font-size: 5vw;
    width: 100%;

    i {
      display: none;
    }
  }
}
