/*
    Page ma présentation
*/

.s_mes_informations {
  background-color: $gamma;

  .informations_container {
    display: grid;
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    grid-template-columns: 0.7fr 1fr;
    grid-template-rows: repeat(3, auto);
    padding: 0 10% 5% 10%;

    .information {
      background-color: $bg-alpha;
      border-radius: 7px;
      border: none;
      margin-bottom: 80px;
      margin-top: -80px;
      max-height: unset;
      padding: 10%;
      text-align: left;

      .nbr {
        font-size: 1.5rem;
      }

      .txt {
        color: $text-beta;
        font-size: 1rem;
        font-weight: bold;
        margin-bottom: 1rem;
      }
    }

    .information i {
      color: $alpha;
      font-size: 1.5rem;
      margin-right: 2rem;
      text-align: center;
      width: 1.5rem;
    }

    .information-1 {
      align-items: center;
      display: flex;
      gap: 8%;
      grid-area: 1 / 1 / 2 / 3;
      padding: 1% 4%;

      .profile_pic {
        aspect-ratio: 1/1;
        height: 170px;

        img {
          aspect-ratio: 1/1;
          display: block;
          height: 100%;
          position: relative;
        }

        i {
          font-size: 3.5rem;
          margin: 0;
          width: unset;
        }
      }

      .nbr {
        flex: 1;
      }

      .profil {
        color: $text-alpha;
        padding: 1% 2%;
      }
    }

    .information-2 {
      grid-area: 2 / 1 / 3 / 2;

      .nbr {
        display: block;
        font-style: italic;
        text-align: center;
      }
    }

    .information-3 {
      grid-area: 3 / 1 / 4 / 2;

      .desc-3 {
        font-weight: normal;
        line-height: 2rem;
        font-size: 0.95rem;
      }
    }

    .information-4 {
      display: flex;
      flex-direction: column;
      grid-area: 2 / 2 / 6 / 3;
      height: fit-content;

      > * {
        border-bottom: 1px solid $beta;
        padding: 2rem 0;

        .txt,
        br {
          display: inherit;
        }
      }

      :last-child {
        border: none;
      }
    }

    .information-4 .vertical_list {
      padding: 0;
      * {
        font-size: unset;
      }

      img {
        display: block;
      }
    }
  }

  .container_profil {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0% 0%;
    width: 100%;
  }

  .profil_left,
  .profil_main,
  .profil_right {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 80px;
    justify-content: center;
    padding: 1% 1% !important;
    text-align: left !important;
    white-space: normal;
    width: 280px;
  }

  .profil span {
    margin-left: 5px;
  }

  .profil .fa {
    font-size: 20px;
  }

  .profil_box {
    padding: 1% 1% !important;
    width: 100%;
  }

  .profil {
    font-size: 16px;
  }
}

@media only screen and (max-width: 990px) {
  .s_mes_informations {
    background-color: unset;

    .informations_container {
      display: flex;
      flex-direction: column;

      .information {
        background-color: unset;
        padding: 0 0 20% 0;
      }

      .information-1 {
        flex-direction: column;

        .nbr {
          text-align: center;
        }
      }

      .information-4 {
        margin-bottom: 0;
        padding-bottom: 0;
      }
    }
  }

  .container_profil {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0% 0%;
    width: 100%;
  }

  .profil_left,
  .profil_main,
  .profil_right {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 80px;
    height: auto;
    justify-content: center;
    padding: 1% 1% !important;
    text-align: left !important;
    white-space: normal;
    width: 280px;
  }

  .profil span {
    margin-left: 5px;
  }

  .profil .fa {
    font-size: 10px;
  }

  .profil_box {
    padding: 1% 1% !important;
    width: 100%;
  }

  .profil {
    font-size: 12px;
  }
}
