/*
    Page Mon échange à venir
*/

.s_echange_informations {
  background-color: $gamma;
}

.s_echange_informations .informations_container {
  display: grid;
  grid-column-gap: 5%;
  grid-template-columns: 0.5fr 1fr;
  grid-template-rows: auto;

  .information {
    background-color: $bg-alpha;
    border: none;
    display: flex;
    flex-direction: column;
    max-height: unset;

    .info_title {
      font-size: 2rem;
    }
  }

  .information-1 {
    align-items: center;
    flex-direction: row;
    gap: 2%;
    grid-area: 1 / 1 / 2 / 3;
    padding: 4%;

    .btn {
      align-items: center;
      display: flex;
      gap: 1rem;
      max-width: 250px;
      min-height: 3.8rem;
      padding: 0.5rem 1.5rem;
      text-align: left;
      white-space: normal;

      i {
        font-size: 1.5rem;
      }
    }

    .info_depot {
      border-left: 1px solid $beta;
      color: $alpha;
      font-size: 1rem;
      font-weight: bold;
      margin-left: auto;
      padding-left: 5%;
      text-align: center;

      .heures {
        background-color: $alpha;
        border-radius: 50px;
        color: $text-alpha;
        font-size: 1.5rem;
        margin-top: 1rem;
        padding: 0.5rem;
      }
    }

    divider {
      border-left: 1px solid $beta;
      margin: 0 4rem;
    }
  }

  .information-2 {
    font-size: 1rem;
    gap: 2rem;
    grid-area: 2 / 1 / 5 / 2;
    height: fit-content;

    img {
      display: block;
      height: 6rem;
      margin: 0 auto 1rem;
      width: 6rem;
    }

    .stats i {
      color: #5e95aa;
      font-size: 1rem;
      width: 2rem;
    }
  }

  .information-3 {
    grid-area: 2 / 2 / 3 / 3;

    .divider {
      border: 1px solid $beta;
      margin: 0 3rem;
    }
  }

  .information-4 {
    grid-area: 3 / 2 / 4 / 3;
    height: fit-content;

    .vertical_list {
      padding: 1rem 0 0;

      .activite.btn {
        border: none;
      }
    }
  }

  .information-5 {
    font-size: 1rem;
    gap: 3rem;
    grid-area: 4 / 2 / 6 / 3;

    .condition_desc {
      display: flex;
      font-size: 1.2rem;
      margin-bottom: 0;
      margin-top: 1rem;
    }

    .condition_txt {
      margin: 1rem 0 0;
    }

    divider {
      border-top: 1px solid $beta;
    }
  }
}

.bar_time {
  align-items: center;
  background-color: $gamma;
  border-radius: 5px;
  display: flex;
  font-size: 1.5rem;
  margin-top: 3rem;
  padding: 1rem 5%;

  :last-child {
    margin-left: auto;
    white-space: nowrap;
  }
}

@media only screen and (max-width: 990px) {
  .s_echange_informations .informations_container {
    display: flex;
  }

  .informations_container .information-1 {
    flex-direction: column !important;

    .info_depot {
      border: unset !important;
      margin: unset !important;
    }
  }
}
