/*
    Page Login
*/

.s_login {
  background-position-x: center;
  height: 1000px;
  min-height: 500px;
}

.login_box {
  background-color: $bg-alpha;
  border-radius: 20px;
  float: right;
  margin: 5% 10% 0 0;
  padding: 4% 2%;
  width: 30%;

  h1 {
    text-align: center;
  }

  h2 {
    font-weight: normal;
    text-align: center;
  }
}

#login_form {
  margin: 20px auto;
  max-width: none;
}

.login-btn {
  color: $text-alpha !important;
  width: 40% !important;
}

@media only screen and (max-width: 990px) {
  .s_login {
    background-size: contain !important;
  }

  .login_box {
    border-radius: 0;
    margin: 40% 0 0 0;
    padding: 5% 7%;
    width: 100%;
  }

  .login_box.shadow {
    box-shadow: none !important;
  }
}
