// Fonts
//
// Font, line-height, and color for body text, headings, and more.

// Variables
$font-size-base: $o-theme-font-size-base;
$search_bar-height: 65px;

// Colors
$alpha: theme-color("epsilon"); // cyan-ish
$beta: #d6d6d6; // light-grey (mainly for borders)
$delta: #f4feff;
$gamma: #dbe8ea;
$primary-color: theme-color("primary");
$secondary-color: theme-color("secondary"); // navy blue
$tertiary-color: theme-color("delta"); // cloud blue
$second-navbar-color: #e8eef8;

// Text Colors
$text-alpha: #ffffff;
$text-beta: #000000;
$text-gamma: #656565;
$text-white: #ffffff;
$text-black: #000000;
$text-gray: #d6d0d5;

// Background Colors
$bg-alpha: white;
$bg-red-2-alert: #9f0808;
$bg-red-alert: #d8746f;
$bg-green-alert: #70a6a8;

.text-color-title {
  color: white;
}

/*
  Global
*/
@media only screen and (max-width: 990px) {
  .mobile-display-none {
    display: none !important;
  }
}

.cursor-pointer {
  cursor: pointer;
}

/*
  Debug
*/
.debug_debug {
  display: none;
}

/*
  AngularJS
*/
[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
  display: none !important;
}

/*
  Copy from odoo/addons/web_editor/static/src/scss/web_editor.ui.scss
  INPUTS
*/
.o_switch {
  align-items: center;
  display: flex;
  font-weight: normal;
  cursor: pointer;

  > input {
    display: none;

    + span {
      background-color: $o-we-switch-inactive-color;
      border-radius: 100rem;
      box-shadow: inset 0 0 0px 1px darken($o-we-switch-inactive-color, 10%);
      display: inline-block;
      font-size: 15px;
      height: $o-we-switch-size;
      margin-right: 0.51em;
      transition: all 0.3s $o-we-md-ease;
      width: $o-we-switch-size * 1.81;

      &:after {
        content: "";
        background: $o-we-color-paper;
        border-radius: 100rem;
        display: block;
        height: $o-we-switch-size - 0.2;
        margin-left: 0.1ex;
        margin-top: 0.1ex;
        transition: all 0.3s $o-we-md-ease;
        width: $o-we-switch-size - 0.2;
        box-shadow: 0 1px 1px darken($o-we-switch-inactive-color, 35%),
          inset 0 0 0 1px lighten($o-we-switch-inactive-color, 10%);
      }
    }

    &:checked + span {
      background: $o-we-color-success;
      box-shadow: none;

      &:after {
        margin-left: ($o-we-switch-size * 1.8 - $o-we-switch-size) + 0.1;
      }
    }
  }

  &.o_switch_danger {
    > input {
      &:not(:checked) + span {
        background: $o-we-color-danger;
        box-shadow: none;
      }
    }
  }
}

.editable-content-blue {
  background-color: $bg-green-alert;
}
